extends layout

block content
  p.lead 

  div.page
    h2 Contatos!
    div
      
      p
        i.icon-twitter-sign.icon-2xs(title='by twitter')
        a(href='http://twitter.com/dev-labs')  @dev-labs
      p
        i.icon-envelope.icon-2xs(title='by e-mail') 
        a(href='mailto:contact@dev-labs.com') contact@dev-labs.com
      p
        i.icon-facebook-sign.icon-2xs(title='by facebook')
        a(href='http://facebook.com/dev-labs')  http://facebook.com/dev-labs
      p
        i.icon-phone-sign.icon-2xs(title='by phone')
        span  55+ (22) 3846-3784
        

      

  