extends layout

block content
  div.page
    div.row
      div.col-lg-12
        h2 Clientes
    div.row
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 1
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 2
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 3
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 4
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 5
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 6
    div.row
    hr
    div.row
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 7
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 8
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 9
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 10
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 11
      div.col-lg-2
        img.img-thumbnail(src='http://placehold.it/210x140')
        div.row
          h4.text-center Cliente 12