
page-height = 490px
page-background-color = #eef
footer-background-color = #227
footer-height = 150px

body
  
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #fff
  
a
  color #00B7FF

.primary-text
  color #59c

.page  
  background-color lighten(footer-background-color,95%)
  color invert(page-background-color)
  height page-height
  padding 15px

 .footer
   min-height footer-height
   background-color footer-background-color
   color #ddf

.secondary   
  background-color lighten(footer-background-color,30%)
  color #ddf
